* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    color: #333;
}
#book-form {
    width: 60%;
}

.form-group {
    margin: 2%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

form input {
    padding: 0.2vw;
}

button {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
    padding: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#save-btn {
    width: fit-content;
    height: fit-content;
    padding: 0.5% 1%;
    margin: 2%;
}

.delete-btn {
    background-color: red;
}

.delete-btn:hover {
    background-color: crimson ;
}


table {
    border-collapse: collapse;
    min-width: 600px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
    width: fit-content;
}

.action-col {
    white-space: nowrap;
}

