* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-image: url("https://miro.medium.com/v2/resize:fit:828/format:webp/1*6Jp3vJWe7VFlFHZ9WhSJng.jpeg");
}

main {
    width: 80%;
    font-family: Arial, sans-serif;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    opacity: 93%;
    border-radius: 1%;
    padding: 5%;
    min-width: 650px;
}

h1 {
    margin: 0 0 5% 0;
    color:  #2f2f2f;
    font-size: xxx-large;
    border-bottom: 5px double #2f2f2f;
    width: 80%;
    text-align: center;
}
#book-form {
    width: 80%;
    padding: 2%;
}

#book-list {
    width:80%;
    padding: 2%;
}

.form-group {
    margin: 2%;
}

fieldset {
    margin: 1% 0;
    color: #2f2f2f;
}

legend {
    font-weight: bold;
    font-size: large;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

form input {
    padding: 0.2vw;
}

button {
    display: inline-block;
    width: 80px;
    margin: 0 5px;
    padding: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
#save-btn {
    width: fit-content;
    height: fit-content;
    padding: 0.5% 1%;
    margin: 2%;
}

.delete-btn {
    background-color: red;
}

.delete-btn:hover {
    background-color: crimson ;
}


table {
    border-collapse: collapse;
    margin: auto auto;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
    width: fit-content;
}

th {
    background-color: dimgray;
    color: white;
}

.action-col {
    white-space: nowrap;
}

